h1 {
	colour: #ffffff;

h2 {
	colour: #e5e5e5;
}

h3 {
	colour: #bdbdbd;
}

/* body of page */
body {
	background-colour: #000000;
}

p {
	background-color: #9c9c9c;
	color: #ff0000;
}


#something-unique-heading {
	color: #9933ff;
}

#something-unique {
	color: #960000;
}



.poem-lyrics {
	background-color: yellow;
}





